<!doctype html>
<html>
  <head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Shubham" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <main>
        <%= partial 'partials/header' %>
        <%= yield %>
    </main>
  </body>
</html>
