---
title:   About
---
<p> Hi!, I am Shubham Saxena. I am a part of the team of product engineers at <%= link_to 'Go-Jek Engineering', 'http://www.gojek.io/', :target => '_blank' %>. Prior to this I was a computer science undergraduate student at <%= link_to 'Indian Institute of Technology Jodhpur', 'http://iitj.ac.in/', :target => '_blank' %>. </p>
<p> My recent interests are distributed systems, golang and fiddling with vim (my favorite text editor). If not found on my laptop (which is very rare); I could be seen reading a book or jogging in a park. </p>
<hr>
<p>
    <i class="social-icon fas fa-envelope"></i> <%= link_to 'shubham.1179@gmail.com', 'shubham.1179@gmail.com', :target => '_blank' %> <br>
    <i class="social-icon fab fa-twitter"></i> <%= link_to '_s7saxena', 'https://twitter.com/_s7saxena', :target => '_blank' %> <br>
    <i class="social-icon fab fa-github"></i> <%= link_to 'shubham7saxena', 'https://github.com/shubham7saxena', :target => '_blank' %> <br>
    <i class="social-icon fab fa-medium"></i> <%= link_to '@shubham7', 'https://medium.com/@shubham7', :target => '_blank' %> <br>
    <i class="social-icon fab fa-goodreads"></i> <%= link_to 'Shubham Saxena', 'https://www.goodreads.com/user/show/27428175-shubham-saxena', :target => '_blank' %> <br>
    <i class="social-icon fab fa-strava"></i> <%= link_to 'shubham', 'https://www.strava.com/athletes/27931429', :target => '_blank' %> <br>
</p>

